{{>admin-aside}}


<div class="content mt-5">
  <button class="btn btn-dark my-3" id="addCouponBtn">Add Coupon</button>
  <div style="display: none;" id="AddCpnForm">
  <form class="row g-3 needs-validation d-flex my-3" novalidate>
    <div class="col-md-5">
      <label for="startDate" class="form-label">Starting Date</label>
      <input type="Date" class="form-control" id="startDate" name="startDate" required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-5">
      <label for="endDate" class="form-label">End Date</label>
      <input type="Date" class="form-control" id="endDate" name="endDate"  required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    
    <div class="col-md-3">
      <label for="couponValue" class="form-label">Coupon Value (%)</label>
      <div class="input-group has-validation">
        <input type="Number" class="form-control" id="couponValue" name="couponValue"
          aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a Coupon Value
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <label for="couponLimit" class="form-label">No. of Coupon</label>
      <input type="text" class="form-control" id="couponLimit" name="couponLimit" required>
      <div class="invalid-feedback">
        Please provide a Limit .
      </div>
    </div>
    <div class="form-floating">
      
      <textarea class="form-control" id="description" name="description" required></textarea>
      <label class="form-label" for="floatingTextarea">Description</label>

      <div class="invalid-feedback">
        Please provide a Description .
      </div>
    </div>
    <div class="col-md-3">
      <label for="couponCode" class="form-label">Coupon Code</label>
      <input type="text" class="form-control" id="couponCode" name="couponCode" required>
      <div class="invalid-feedback">
        Please provide a valid coupen code.
      </div>
    </div>
     <div class="col-md-3">
      <label for="purchaseLimit" class="form-label">Purchase Limit</label>
      <input type="number" class="form-control" id="purchaseLimit" name="purchaseLimit" required>
      <div class="invalid-feedback">
        Please provide a valid coupen code.
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" type="submit">Add coupen</button>
    </div>
  </form>
  </div>
  <div class="couponDiv">
  <div class="table-responsive">
      <table class="table table-striped" id="couponTable">
        <thead>
          <tr>
            <th scope="col">coupon ID</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Discount in percentage</th>
            <th scope="col">user Limit</th>
            <th scope="col">No. of coupons used</th>
           
          </tr>
        </thead>
        <tbody class="table-group-divider">

          {{#each couponData}}
          <tr>
            <td>{{_id}}</td>
            <td>{{startDate}}</td>
            <td>{{endDate}}
            </td>
            <td> {{discountValue}}% </td>
            <td>{{usersLimit}}</td>
            <td>{{usedUsersCount}}</td>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="/javascripts/manageCoupon.js"></script>
<script src='https://code.jquery.com/jquery-3.7.0.js'></script>
<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>
<script>
  $(document).ready(() => {
    new DataTable('#couponTable');
  })
</script>