{{>admin-aside}}
<div class="content mt-5">
  <div class="col">
    <div class=" m-2 col-md-5 ">
      <form id="searchForm" class="d-flex" role="search">
        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" id="searchButton" type="submit">Search</button>
      </form>
    </div>
    <p class="searchErr text-danger fw-bold fs-4"></p>
    <div class="table-responsive">
      <table class="table table-striped" id="tableContainer">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">mobile Number</th>
            <th scope="col">Wallet Balance</th>
            <th scope="col">Block/Unblock</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {{#each userList}}
          <tr>
            <td>{{this.Username}}</td>
            <td>{{this.Email}}</td>
            <td>{{this.Mobilenumber}}</td>
            <td>{{WalletBalance}}</td>
            {{#if this.Isblocked}}
            <td><a href="/admin/blockuser/{{this._id}}" class="btn btn-success">Unblock</a></td>
            {{else}}
            <td><a href="/admin/blockuser/{{this._id}}" class="btn btn-danger">Block</a></td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
    <div class="d-flex justify-content-center ">
      <button id="prev" class="btn btn-dark me-3">Prev</button>
      <button id="next" class="btn btn-dark">Next</button>
    </div>
  </div>
</div>
<script src="/javascripts/userList.js"></script>