<section class="container user-aside-sec">
  {{>user-aside}}
    <div class="row p-5 ms-5 user-main address-manage">
      <div class="col-md-12  ">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/myprofile">My Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">Manage Address</li>
          </ol>
        </nav>
        <h5 class="h3 fw-bold">Manage Address</h5>
        <div class="d-grid gap-2 col-6 ">
          <a class="btn btn-dark mt-3 text-start fw-semibold" href="/addaddress"><i class="fa-solid fa-plus"></i>Add
            new Address</a>
        </div>
      </div>
      {{#each userAddress}}
      <div class="col-md-12 mt-5">
        <div class=" mb-3 address mt-5 mb-sm-0">
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title">{{firstName}} {{lastName}}</h5>
              <p class="card-text">{{address}} <br>{{city}} {{state}} {{pincode}}</p>
              <a class="btn btn-primary" href="/updateaddress/{{_id}}"><i class="fa fa-pencil edit-address"></i>Edit</a>
              <button addressid="{{_id}}" class="btn btn-danger delete-address"><i
                  class="fa fa-trash "></i>Remove</button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div> 
</section>
<div>
  {{>user-footer}}
</div>
<script src="/javascripts/manageAddress.js"></script>