<div class="container ">
  <div class="d-flex cat-btn justify-content-center align-items-center">
    <a href="/category?category=mobile"><button type="button"
        class="btn btn-outline-secondary btn-lg m-1 fw-bolder">MOBILES</button></a>
    <a href="/category?category=laptop"><button type="button"
        class="btn btn-outline-secondary btn-lg m-1 fw-bolder">LAPTOPS</button></a>
  </div>
</div>
<div class="container-fluid ">
  <div class=" mainDiv" style="width: 100%;">
    <div class="row ms-3 product-container " style="max-height: 500px; overflow-y: scroll;">
      {{#each prodData}}
      <div class="card p-3 m-2 d-flex flex-column" style="max-width: 17rem;" id="cardLoop">
        <div class="card-image">
          <a href="/viewproduct/{{_id}}"> <img style="width: auto; height:15rem; object-fit: contain;"
              src="/images/uploads/{{Images.[0]}}" class="card-img-top" alt="..."></a>
        </div>
        <div class="card-body flex-grow-1">
          <h5 class="card-title text-uppercase m-0 fw-bold">{{Name}}</h5>
          <p class="card-text m-0 mt-1">
            {{Features.RAM}}|ROM:{{Features.Storage}}|OS:{{Features.Operating_system}}
          </p>
        </div>
        <div class="mt-auto">
          {{#if offerPrice}}
          <p class="card-text ms-3  fs-5 text-decoration-line-through">₹{{Price}}
          </p>
          <p class=" ms-3 text-success">{{offerPercentage}}%off</p>

          <p class="card-text ms-3 fw-bold fs-2">₹{{offerPrice}}
          </p>
          {{else}}
          <p class="card-text ms-3 fw-bold fs-2">₹{{Price}}
          </p>
          {{/if}}
          {{#if ../user}}
          {{#if isInWishList}}
          <button class="btn float-end  mb-2">
            <i class=" fa-regular fa-heart love-button loved" product-id="{{_id}}" user-id="{{../user._id}}"></i>
          </button>
          {{else}}
          <button class="btn float-end  mb-2">
            <i class=" fa-regular fa-heart love-button" product-id="{{_id}}" user-id="{{../user._id}}"></i>
          </button>
          {{/if}}
          {{/if}}
        </div>
        <div class="card-btn">
          <a href="/viewproduct/{{_id}}" class="btn btn-dark me-1">View Product</a>
          {{#if Stock_quantity}}
          <button product-id="{{_id}}" class="btn addCart btn-dark"> Add to cart</button>
          {{else}}
          <button class="btn btn-danger disabled">out of stock</button>
          {{/if}}
        </div>
      </div>
      {{/each}}
      <input type="number" value="{{totalPages}}" name="totalPage" id="totalPage" hidden>
      <input type="number" value="{{pageNumber}}" name="pageNumber" id="pageNumber" hidden>
      {{#if totalPageArr}}
      <nav aria-label="Page navigation example " id="pagination">
        <ul class="pagination justify-content-center">
          {{#equal pageNumber 1}}
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          {{else}}
          <li class="page-item">
            <a class="page-link" href="/?page={{decrement pageNumber}}">Previous</a>
          </li>
          {{/equal}}
          {{#each totalPageArr}}
          {{#equal ../pageNumber this}}
          <li class="page-item active"><a class="page-link" href="/?page={{this}}">{{this}}</a></li>
          {{else}}
          <li class="page-item"><a class="page-link" href="/?page={{this}}">{{this}}</a></li>
          {{/equal}}
          {{/each}}
          {{#equal pageNumber lastPage}}
          <li class="page-item disabled">
            <a class="page-link">Next</a>
          </li>
          {{else}}
          <li class="page-item">
            <a class="page-link" href="/?page={{increment pageNumber}}">Next</a>
          </li>
          {{/equal}}
        </ul>
      </nav>
      {{/if}}
    </div> 
  </div>
</div>
<div>
  {{>user-footer}}
</div>
<script src="/javascripts/wishList.js"></script>