<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto position-fixed">
    <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 d-flex bg-dark">
      <div
        class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
        <a href="/"
          class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none d-none d-sm-inline">
          <span class="fs-5">Q<span class="d-none d-sm-inline">uandum</span></span>
          <span class="fs-5">G<span class="d-none d-sm-inline">adgets</span></span>
        </a>
        <ul
          class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
          id="menu">
          <li class="nav-item">
            <button id="brandBtn" class="nav-link px-sm-0 px-2">
              <span class="ms-1  d-sm-inline">Brands</span>
            </button>
            <form id="brandForm" style="display: none;">
              <label><input type="checkbox" name="fl-colour" value="Poco" id="red" /> Poco</label><br>
              <label><input type="checkbox" name="fl-colour" value="Samsung" id="yellow" /> Samsung</label><br>
              <label><input type="checkbox" name="fl-colour" value="Apple" id="pink" /> Apple</label><br>
              <label><input type="checkbox" name="fl-colour" value="Redmi" id="purple" /> Redmi</label><br>
              <label><input type="checkbox" name="fl-colour" value="Vivo" id="green" /> Vivo</label><br>
              <label><input type="checkbox" name="fl-colour" value="Oppo" id="other" /> Oppo</label>
            </form>

          </li>
          <li>
            <button id="ramBtn" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
              <span class="ms-1  d-sm-inline">Ram</span> </button>
            <form id="ramForm" style="display: none;">
              <label><input type="checkbox" name="fl-colour" value="4 GB" id="red" /> 4 GB</label><br>
              <label><input type="checkbox" name="fl-colour" value="8 GB" id="yellow" /> 8 GB</label><br>
              <label><input type="checkbox" name="fl-colour" value="6 GB" id="pink" /> 6 GB</label><br>
            </form>
          </li>
          <li>
            <button id="romBtn" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
              <span class="ms-1  d-sm-inline">Storage</span> </button>
            <form id="romForm" style="display: none;">
              <label><input type="checkbox" name="fl-colour" value="128 GB" id="red" /> 128 GB</label><br>
              <label><input type="checkbox" name="fl-colour" value="256 GB" id="yellow" /> 256 GB</label><br>
              <label><input type="checkbox" name="fl-colour" value="512 GB" id="pink" /> 512 GB</label><br>
            </form>
          </li>
          <li>
            <button id="osBtn" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
              <span class="ms-1  d-sm-inline">Color</span> </button>
            <form id="osForm" style="display: none;">
              <label><input type="checkbox" name="fl-colour" value="Black" id="Black" /> Black</label><br>
              <label><input type="checkbox" name="fl-colour" value="Red" id="Red" /> Red</label><br>
              <label><input type="checkbox" name="fl-colour" value="Blue" id="Blue" /> Blue</label><br>
            </form>
          </li>
          <li>
            <button id="processorBtn" data-bs-toggle="collapse" class="nav-link px-sm-0 px-2">
              <span class="ms-1  d-sm-inline">Processor</span> </button>
            <form id="processorForm" style="display: none;">
              <label><input type="checkbox" name="fl-colour" value="Core i5" id="Corei5" />Core i5 </label><br>
              <label><input type="checkbox" name="fl-colour" value="Core i7" id="Corei7" /> Core i7</label><br>
              <label><input type="checkbox" name="fl-colour" value="Ryzen" id="Ryzen" /> Ryzen</label><br>
              <label><input type="checkbox" name="fl-colour" value="Mac" id="Mac" /> Mac</label><br>

            </form>
          </li>
        </ul>
      </div>
    </div>
    <div class="col d-flex flex-column h-sm-100">
      <main class="row overflow-auto">
        <div class="col pt-4">
          <div class="container-fluid ">
            <div class="row ms-3" style="width: 100%;">
              {{#each prodData}}
              {{!-- <div class="col-md-4"> --}}
                <div class="card p-3 m-2 d-flex flex-column" style="max-width: 17rem;">
                  <div class="card-image">
                    <a href="/viewproduct/{{_id}}"> <img style="width: auto; height:15rem; object-fit: contain;"
                        src="/images/uploads/{{Images.[0]}}" class="card-img-top" alt="..."></a>
                  </div>
                  <div class="card-body flex-grow-1">
                    <h5 class="card-title text-uppercase m-0 fw-bold">{{Name}}</h5>
                    <p class="card-text m-0 mt-1">
                      RAM:{{Features.RAM}}|ROM:{{Features.Storage}}|OS:{{Features.Operating_system}}
                    </p>
                  </div>
                  <div class="mt-auto">
                    <p class="card-text ms-3 fw-bold fs-2">₹{{Price}}
                    </p>
                    {{#if ../user}}

                    <button class="btn float-end love-button mb-2" product-id="{{_id}}" user-id="{{../user._id}}">
                      <i class=" fa-regular fa-heart"></i>
                    </button>
                    {{/if}}
                  </div>
                  <div class="card-btn">
                    <a href="/viewproduct/{{_id}}" class="btn btn-dark me-1">View Product</a>
                    {{#if Stock_quantity}}
                    <button product-id="{{_id}}" class="btn addCart btn-dark"> Add to cart</button>
                    {{else}}
                    <button class="btn btn-danger disabled">out of stock</button>
                    {{/if}}
                  </div>
                </div>


                {{/each}}

              </div>
            </div>


          </div>
      </main>

    </div>
    {{>user-footer}}
  </div>

</div>
<script src="/javascripts/category.js"></script>
<script src="/javascripts/wishList.js"></script>